<mat-form-field appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input (input)="change($event)" [name]="name" [value]="value" [required]="required" [disabled]="disabled"
         minlength="6" [type]="hidePassword ? 'password' : 'text'" [formControl]="formControl" matInput>
  <span mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
    <mat-icon class="icon-suffix">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </span>
  <mat-error
    *ngIf="formControl && formControl.errors && formControl.errors.required && formControl.invalid && ((formControl.dirty && formControl.touched) || form.invalid)">
    Ce champ est obligatoire
  </mat-error>
  <mat-error
    *ngIf="formControl && formControl.errors && formControl.errors.minlength && formControl.invalid && ((formControl.dirty && formControl.touched) || form.invalid)">
    Le mot de passe doit faire au minimum 6 caractères
  </mat-error>
  <mat-error
    *ngIf="formControl && formControl.errors && formControl.errors.notSame && formControl.errors.notSame.password && formControl.invalid && ((formControl.dirty && formControl.touched) || form.invalid)">{{formControl.errors.notSame.password.errorMessage}}</mat-error>
  <mat-icon matPrefix>vpn_key</mat-icon>
</mat-form-field>
